* {
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: arial, serif;
	font-size: 13px;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	color: #666;
	margin: 0px;
}

p {
	margin-bottom: 10px;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

header {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

footer {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-top: 1px solid #ccc;
}

#bodyPage {
	margin: 30px 0px;
}

#leftPage {
	float: left;
	width: 200px;
}

#rightPage {
	float: left;
	width: 740px;
	margin-left: 20px;
}

#branchLogo {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	background: url(../img/frontend/logo.jpg) no-repeat 0% 50%;
	background-size: contain;
	padding-left: 80px;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
}

#shoppingCart {
	position: absolute;
	top: 10px;
	right: 0px;
}
#shoppingCart a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	background: url(../img/frontend/shopping_cart.png) no-repeat 0% 50%;
	background-size: contain;
	padding-left: 50px;
	text-decoration: none;
	color: #333;
}

/* MENU TOP */
#topMenu {
	border-bottom: 1px solid #ccc;
}
#topMenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#topMenu ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: left;
}
#topMenu ul li a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #999;
	padding: 0px 10px;
	text-transform: uppercase;
	font-size: 11px;
}
#topMenu ul li.active a,
#topMenu ul li a:hover {
	border-bottom: 3px solid #ccc;
	color: #000;
}

/* MENU LEFT */
#leftMenu {

}
#leftMenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#leftMenu ul li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #ccc;
}
#leftMenu ul li a {
	display: block;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	color: #999;
	padding: 0px 10px;
	text-transform: uppercase;
	font-size: 11px;
}
#leftMenu ul li.active a,
#leftMenu ul li a:hover {
	color: #000;
	background-color: #ccc;
}

.category .title-box {
	padding: 10px;
	border: 1px solid #ccc;
}
.category .title-box h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.category .product-item {
	float: left;
	width: 25%;
	text-align: center;
}
.category .product-item .thumbs {
	display: table-cell;
	table-layout: fixed;
	vertical-align: middle;
	height: 200px;
}
.category .product-item .thumbs img {
	max-width: 70%;
}
.category .product-item .title a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.category .product-item .title a:hover {
	color: #EC2121;
	text-decoration: underline;
}
.category .product-item .price {
	color: #EC2121;
}